@import './resets.css';

/*=========================================
    = Global Styles =
=========================================*/
:root {
	--primary-color: #08196d;
	--secondary-color: #2eaacc;
	--white-color: #ffffff;
	--accent-color: #eccff5;
	--background-color: #f5f5f5;
	--normal-text-color: #333333;
	--font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--font-size-base: 16px;
	--line-height-base: 1.5;
	--font-weight-base: 300;
	--font-weight-bold: 600;
}

html {
	font-size: var(--font-size-base);
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-family);
	line-height: var(--line-height-base);
	font-weight: var(--font-weight-base);
	background-color: var(--background-color);
	color: var(--normal-text-color);
	/* display: flex;
    flex-direction: column;
    min-height: 100vh; */
}

a {
	color: var(--primary-color);
	text-decoration: none;
	transition: color 0.3s ease;
}
/* a:hover {
    color: var(--secondary-color);
} */

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.btn {
	display: inline-block;
	padding: 0.75rem 1.5rem;
	background-color: var(--secondary-color);
	color: var(--white-color);
	font-weight: var(--font-weight-bold);
	border-radius: 5px;
	text-transform: capitalize;
	transition: background-color 0.3s ease;
}

.btn:hover {
	background-color: var(--white-color);
	color: var(--secondary-color);
}

.speakers-section h2,
.address-section h2 {
	font-size: 2.8rem;
	margin-bottom: 1rem;
	font-weight: var(--font-weight-bold);
	text-transform: capitalize;
}

/*=========================================
    = Header Styles =
=========================================*/
header {
	background-color: var(--primary-color);
	color: var(--white-color);
	padding: 1rem 0;
}

header > .flex-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo a {
	color: var(--white-color);
	font-size: 2.5rem;
	font-weight: var(--font-weight-bold);
	text-transform: capitalize;
}

header nav ul {
	list-style: none;
	display: flex;
	gap: 1.5rem;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

header nav ul li a {
	color: var(--white-color);
	font-weight: var(--font-weight-bold);
	text-transform: capitalize;
	transition: color 0.3s ease;
	padding: 1rem 0.5rem;
}

header nav ul li a:hover {
	color: var(--secondary-color);
}

/*=========================================
    = hero section =
=========================================*/

main .hero-section {
	background: var(--primary-color);
	background: url('../images/abstract-navy-red-background-design-sr17012401-1705501852665-cover.webp')
		no-repeat center center/cover;
	color: var(--white-color);
	text-align: center;
	padding: 6rem 1rem;
	width: 100%;
	height: 60vh;
}

.hero-section .hero-content h2 {
	font-size: 3.5rem;
	margin-bottom: 1rem;
	font-weight: var(--font-weight-bold);
	text-transform: capitalize;
}

.hero-section .hero-content p {
	font-size: 1.5rem;
	margin-bottom: 2rem;
}

/*=========================================
    = Speakers section =
=========================================*/

.speakers-section,
.address-section {
	text-align: center;
	padding: 4rem 0;
	width: 100%;
}

.speakers-section p {
	font-size: 1.2rem;
	margin-bottom: 3rem;
}

.speaker-cards {
	display: flex;
	gap: 2rem;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.speaker-card {
	background-color: var(--white-color);
	border-radius: 0.8rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 18rem;
	/* text-align: center; */
}

.speaker-card img {
	width: 100%;
	border-top-left-radius: 0.8rem;
	border-top-right-radius: 0.8rem;
}

.speaker-card h3 {
	font-size: 1.3rem;
	margin: 1rem 0 0.5rem 0;
	font-weight: var(--font-weight-bold);
	text-transform: capitalize;
}

.speaker-card p {
	font-size: 1rem;
	margin-bottom: 1rem;
	padding: 0 1rem;
}

/*=========================================
    = Address section =
=========================================*/
.address-section {
	background: var(--primary-color);
}

.address-section .address-info-container {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
	color: var(--white-color);
}

/*=========================================
    = Mobile Responsive Media Queries =
=========================================*/
@media only screen and (max-width: 768px) {
	.speaker-cards {
		flex-direction: column;
		align-items: center;
	}

	.speaker-card {
		width: 85%;
	}
}
